body {
    font: 0.8em Verdana,sans-serif;
    background-image: url('../images/Quake3LogoBG.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}

a {
    color: #DDEEFF;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

h2 {
    font-size: 1.1em;
    text-align: center;
}

#fps-counter {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    color: white;
    border: 1px solid #6699FF;
    background-color: #3355FF;
    opacity: 0.5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    min-width: 75px;
    text-align: center;
    pointer-events: none;
}

#viewport-frame, #webgl-error {
    position: relative;
    margin: auto;
    width: 854px;
    height: 480px;
}

canvas {
    cursor: move;
    text-align: center;
    background-color: black;
    display: none;
}

#viewport-info {
    position: relative;
    margin: auto;
    width: 854px;
}

#viewport-info h3 {
    margin: 2px;
}

#viewport-info ul {
    list-style: none;
    padding-right: 20px;
    padding-left: 20px;
}

#controls, #config {
    float: left;
    width: 411px;
    height: 120px;
    margin: 5px;
    margin-top: 10px;
    padding: 3px;
    background-image: url('../images/clang_floor2.png');
    background-color: #3B3632;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#config {
    text-align: right;
}

#shaderSelect {
    width: 220px;
}

#fullscreenBtn {
    cursor: pointer;
}

#viewport-frame:-moz-full-screen, canvas:-moz-full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

#viewport-frame:-webkit-full-screen, canvas:-webkit-full-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

#loading {
    position: relative;
    margin: auto;
    top: 200px;
    padding: 10px;
    border: 2px solid #666;
    border-radius: 5px;
    width: 200px;
    z-index: 5;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    pointer-events: none;
}

/* Mobile Styles */
.mobile h2,
.mobile #viewport-info {
    display: none !important;
}

.mobile #viewport-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

.mobile canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    background-color: black;
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
} 